# Eclipse Project Files
.classpath
.project
.settings

# IntelliJ IDEA Project Files
*.iml
.idea/

# VS Code Project Files
.vscode

# Property Files
openweather.properties
connection.properties

# Project Folders
domain/target/
target/